@charset "UTF-8";
header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}

body {
  /*background-image: url(https://cdn2.ettoday.net/images/6509/6509883.jpg);*/
  background-color: rgba(95, 95, 95, 0.1);
  background-image: url(/image/Odai.jpeg);
  background-size: cover; /* 等比例縮放，讓圖片可以蓋滿元素寬高*/
  overflow: scroll;
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times, serif, "Noto Sans TC", sans-serif;
  margin: 0px;
}

.middleMenu {
  width: 300px;
  height: 100%;
  background-color: #fcfcfc, 0.3;
  border-right: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 0 5px rgba(122, 126, 132, 0.6);
  text-align: center;
  font-size: large;
}

.sideMenu {
  width: 300px;
  height: 100%;
  background-color: #fcfcfc, 0.3;
  border-left: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 0px 20px 0px;
  box-shadow: 5px 0 5px rgba(122, 126, 132, 0.6);
}
.sideMenu nav {
  display: block;
  color: #fff;
  padding: 20px 10px;
  position: relative;
  font-weight: 300;
}
.sideMenu nav .fas {
  margin-right: -1.1em;
  transform: scale(0);
  transition: 0.3s;
}
.sideMenu nav:hover .fas {
  margin-right: 0em;
  transform: scale(1);
}
.sideMenu nav + a::before {
  content: "";
  position: absolute;
  border-top: 1px solid #ffffff;
  left: 10px;
  right: 10px;
  top: 0px;
}