header,section,footer,aside,nav,article,figure,figcaption{display: block;}
body 
{
    background-color: rgba(95, 95, 95, 0.1);
    background-image: url(file:D:/4庭/前端練習/html/image/Odai.jpeg);
    background-size: cover; /* 等比例縮放，讓圖片可以蓋滿元素寬高*/
    overflow: scroll;
    background-blend-mode: multiply;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif,'Noto Sans TC',sans-serif;
    line-height: 1.4em;
    width: 1900px;
    height: 1080px;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

    
}
.header
{
    width: 1900px;
    height: 100px;
    background-color: rgb(70,130,180);
    border: 3px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0); 
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}
    .header h1
    {
        text-align: center;
    }
    .header nav ul
    {
        margin: 0;
        padding: 0px;
        text-align: center;
    }
    .header nav ul li {
        list-style-type: none;
        display: inline;
        margin: 0 5px;
        font-size: 15px;
        
    }
    .header nav ul li a{
        text-decoration: none;
        color: #ffffff;
    }
    .oh{
        width: 1900px;
        height: 176px;
        border: 3px solid;
        background-image:url(../image/bokuto.jpg );
        background-position:right -50px bottom -600px ;
        background-size: 110%;    
        background-repeat: no-repeat;
    }
    .oh h2{
        position: relative;
        top: 29px;
        left: 100px;
        color: rgb(0, 0, 0);
    }
    
    .setter{
        width: 1900px;
        height: 176px;
        border: 3px solid;
        background-image:url(../image/miya.jpg );
        background-position:right -50px bottom -600px ;
        background-size: 110%;    
        background-repeat: no-repeat;
    }
    .setter h2{
        position: relative;
        top: 29px;
        left: 1800px;
        color: rgb(0, 9, 17);
    }
    .mb
    {
        width: 1900px;
        height: 176px;
        border: 3px solid;
        background-image:url(../image/kulo.jpg );
        background-position:right -450px bottom -500px ;
        background-size: 110%;    
        background-repeat: no-repeat;
    }
    .mb h2{
        position: relative;
        top: 29px;
        left: 100px;
        color: rgb(0, 0, 0);
    }
    .op
    {
        width: 1900px;
        height: 176px;
        border: 3px solid;
        background-image:url(../image/Ushijima.jpg );
        background-position:right 400px bottom -700px ;
        background-size: 110%;    
        background-repeat: no-repeat;
    }
    .op h2{
        position: relative;
        top: 29px;
        left: 1780px;
        color: rgb(0, 9, 17);
    }
    .lb
    {
        width: 1900px;
        height: 176px;
        border: 3px solid;
        background-image:url(../image/Nishinoya.jpg );
        background-position:right -550px bottom -450px ;
        background-size: 110%;    
        background-repeat: no-repeat;
    }
    .lb h2{
        position: relative;
        top: 29px;
        left: 100px;
        color: rgb(0, 0, 0);
    }

    footer
    {
        width: 1900px;
        height: 100px;
        background-color: rgb(70,130,180);
        border: 3px solid rgb(0, 0, 0);
        border-color: rgb(0, 0, 0); 
        color: #ffffff;
    }
    .footer h1
    {
        text-align: center;
    }
    .footer nav 
    {
        margin: 0;
        padding: 4px;
        text-align: center;
    }