@import "mixin.scss";
*,
body {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.footer{

    @include flex-column(center, space-around);
    @include size(100%, 80px);
    font-size: x-large;
    background-color: #778899;
    color: #D4AF37;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 1;
    left: 0;
    
    
}