.menuleg
{
    text-align: left;
    padding: 10px;  /*區塊留白地方、間隔*/
    width: 290px;
    height: 315px;
    background: #f8f8f899;
    align-items: center;
}
.legcolor
	{
        border-radius: 25px;
        background: #f8f8f8;
        padding: 25px;
        width: 250px;
        height: 150px;
	}