.menus
{
    text-align: left;
    padding: 10px;  /*區塊留白地方、間隔*/
    width: 290px;
    height: 350px;
    background: #f8f8f899;
    align-items: center;
}
.shouldercolor
	{
        border-radius: 25px;
        background: #fa4646;
        padding: 25px;
        width: 250px;
        height: 150px;
	}