<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
  </head>
  <body>

    <div>

      <div class="header">
        <h1 class="title">排球訓練輔助系統</h1>
        <ul class="nav">
          <li><a href="">首頁</a></li>
          <li><a href="">觀念</a></li>
          <li><a href="">技術</a></li>
          <li><a href="">體能</a></li>
        </ul>
      </div>

    </div>

  </body>
</html>
